{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Главная</a>
            <a class="nav-item nav-link active" href="/auth/login">Вход</a>
        </div>
    </div>
{% endblock navbar %}

{% block content %}
    <div class="large-offset-3 large-6 columns">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
{% endblock content %}