{% extends "base_attraction.html" %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Главная</a>
            <a class="nav-item nav-link" href="/profile">Мой профиль</a>
        </div>
    </div>
{% endblock navbar %}
{% block avg_mark %}<p>Средняя оценка: {{ attraction.count_avg_mark }}</p>{% endblock avg_mark %}
{% block function %}
    <form id="starform" action="/attraction/{{ attraction.id }}/set_mark/" method="post">
        <div class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5"
                   onclick="document.getElementById('starform').submit();">
            <label for="star-5" title="Оценка «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4"
                   onclick="document.getElementById('starform').submit();">
            <label for="star-4" title="Оценка «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3"
                   onclick="document.getElementById('starform').submit();">
            <label for="star-3" title="Оценка «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2"
                   onclick="document.getElementById('starform').submit();">
            <label for="star-2" title="Оценка «2»"></label>
            <input type="radio" id="star-1" name="rating" value="1"
                   onclick="document.getElementById('starform').submit();">
            <label for="star-1" title="Оценка «1»"></label>
        </div>
        <style type="text/css">
            .rating-area {
                overflow: hidden;
                width: 225px;
                margin: 0 auto;
            }

            .rating-area:not(:checked) > input {
                display: none;
            }

            .rating-area:not(:checked) > label {
                float: right;
                width: 42px;
                padding: 0;
                cursor: pointer;
                font-size: 50px;
                line-height: 50px;
                color: lightgrey;
                text-shadow: 1px 1px #bbb;
            }

            .rating-area:not(:checked) > label:before {
                content: '★';
            }

            .rating-area > input:checked ~ label {
                color: gold;
                text-shadow: 1px 1px #c60;
            }

            .rating-area:not(:checked) > label:hover,
            .rating-area:not(:checked) > label:hover ~ label {
                color: gold;
            }

            .rating-area > input:checked + label:hover,
            .rating-area > input:checked + label:hover ~ label,
            .rating-area > input:checked ~ label:hover,
            .rating-area > input:checked ~ label:hover ~ label,
            .rating-area > label:hover ~ input:checked ~ label {
                color: gold;
                text-shadow: 1px 1px goldenrod;
            }

            .rate-area > label:active {
                position: relative;
            }
        </style>
    </form>
{% endblock function %}
