{% extends "base_attraction.html" %}


{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Главная</a>
    </div>
</div>
{% endblock navbar %}


{% block function %}

{% csrf_token %}
<form action="/example/">
    <button type="submit" class="btn btn-primary">Принять</button>
</form>
<form action="/example/">
    <button type="submit" class="btn btn-danger">Отклонить</button>
</form>

{% endblock function %}
